body {
  background-image: url(../images/156597-Adventure_Time.jpg);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(102, 190, 70, 0.532);
  font-size: 30px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
a {
  padding: 50px;
  background-color: rgba(240, 248, 255, 0.532);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(114, 73%, 13%);
  font-size: 40px;
}
.start-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 250px;
}
.jake img {
  max-width: 350px;
}
