body {
  background-image: url(../images/156597-Adventure_Time.jpg);
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(102, 190, 70, 0.532);
  font-size: 60px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
a {
  padding: 50px;
  background-color: rgba(102, 190, 70, 0.532);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  text-align: center;
}
a:hover {
  background-color: rgb(24, 133, 46);
  font-size: 60px;
}
.start-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 250px;
}
.cookie img {
  max-width: 350px;
}
