body {
  background-image: url(../images/background2.png);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  padding: 50px;
  background-color: rgba(240, 248, 255, 0.532);
  font-size: 60px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
a {
  font-size: 40px;
}
a:hover {
  background-color: rgba(240, 248, 255, 0.364);
  font-size: 60px;
}
.finn img {
  max-width: 352px;
}

.jake img {
  max-width: 400px;
}
a {
  padding: 50px;
  background-color: rgba(240, 248, 255, 0.532);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(300, 100%, 100%);
}
.start-container {
  margin-top: 40px;
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 200px;
}
