body {
  background-image: url(../images/back6.jpeg);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(226, 65, 228, 0.818);
  font-size: 50px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
a {
  font-size: 60px;
}
.finn {
  img {
    max-width: 452px;
  }
}

.flower img {
  max-width: 252px;
}
a {
  padding: 50px;
  background-color: rgba(226, 65, 228, 0.818);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(300, 100%, 100%);
}
.start-container {
  margin-top: 40px;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 100px;
}
