body {
  background-image: url(../images/Dungeon1.webp);
}
.card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 50px;
  background-color: rgba(240, 248, 255, 0.532);
  font-size: 30px;
  margin: 40px;
  text-align: center;
  border-radius: 15px;
}
img {
  max-width: 200px;
}
.finn {
  display: inline;
}
