body {
  background-image: url(../images/back7.jpg);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(20, 115, 198, 0.532);
  font-size: 50px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
.simon img {
  max-width: 352px;
}

.gunter img {
  max-width: 352px;
}
a:hover {
  background-color: rgba(51, 107, 156, 0.927);
  font-size: 60px;
}
a {
  padding: 50px;
  background-color: rgba(20, 115, 198, 0.532);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(300, 100%, 100%);
  text-align: center;
  font-size: 40px;
}
.start-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  margin-top: 200px;
}
