body {
  background-image: url(../images/avdtpink.jpg);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(198, 30, 158, 0.532);
  font-size: 30px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
