body {
  background-image: url(../images/avdtpink.jpg);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  padding: 50px;
  background-color: rgba(198, 30, 158, 0.532);
  font-size: 60px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  border-radius: 15px;
}
a {
  padding: 50px;
  background-color: rgba(240, 248, 255, 0.532);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: hsl(300, 92%, 42%);
  font-size: 40px;
}
a:hover {
  background-color: rgba(240, 248, 255, 0.364);
  font-size: 60px;
  transition-delay: 50ms;
}
.start-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-top: 200px;
}
.goblin img {
  max-width: 350px;
}

.skulldoor img {
  max-width: 350px;
}
